{% extends "TgorzTrainingBundle:Blog:sidebarLayout.html.twig" %}

{% block pageTitle %} 
    Lista użytkowników | {{ parent() }}
{% endblock %}
{% block  contentContainer %}
    <article class="col-md-8">
        <h1>Lista Użytkowników</h1>

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Prawa dostępowe</th>
                    <th>Aktywność konta</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.isActive }}</td>
                        <td>

                            <a class="btn btn-sm btn-info" href="{{ path('tgorz_add_role', {'id': user.id}) }}">Zobacz szczegóły</a>
                            <a class="btn btn-sm btn-danger" href="{{ path('tgorz_admin_uses_delete', {'id': user.id}) }}">Usuń</a>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" >Brak użytkowników</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

    </article>
{% endblock %}
