{% extends "TgorzTrainingBundle:Blog:sidebarLayout.html.twig" %}

{% block pageTitle %} 
    Lista rejstracji | {{ parent() }}
{% endblock %}
{% block  contentContainer %}
    <article class="col-md-8">
        <h1>Lista Rejestracji</h1>

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię i Nazwisko</th>
                    <th>Kraj</th>
                    <th>Kurs</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in rows %}
                    <tr>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.name }}</td>
                        <td>{{ entry.country }}</td>
                        <td>{{ entry.course }}</td>
                        <td>
{#                            {% if btns != false %}#}
                            {% if is_granted("ROLE_ADMIN") %}
                                <a class="btn btn-sm btn-info" href="{{ path('tgorz_blog_admin_details', {'id': entry.id}) }}">Zobacz szczegóły</a>
                                <a class="btn btn-sm btn-danger" href="{{ path('tgorz_blog_admin_delete', {'id': entry.id}) }}">Usuń rekord</a>
                            {% else %}
                                Nie masz uprawnień do żadnej akcji
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" >Brak rejestracji</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
            
            <hr/>
            <h3>Zalogowano jako: {{ app.user.username }} </h3>
            <h6> Posiadane role: {{ app.user.roles|join(', ') }} </h6>
            <h5>{{ test }}</h5>
    </article>
{% endblock %}